* {
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right , rgb(218, 0, 0), rgb(85, 0, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    color: white;
}
.countdown-container{
    display: flex;
}
h1{
    font-size: 40px;
}
.big-text  {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.5rem;
    
}