body{
    font-family: 'Rowdies', cursive;
    background-color: black;
}
#container{
   
}
#calculator{
    border: solid 1px #39ff14;
    width: 320px;
    height: 520px;
    background-color: #363636;
    margin: 0 auto;
    top: 80px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 8px rgba(73, 73, 73, 0.75);
    
}
#result{
    height: 99px;
    border: solid 1px #39ff14;
    margin: 10px;
}
#history{
text-align: right;
height: 20px;
margin: 0 20px;
padding-top: 20px;
font-size: 15px;
color: #39ff14;
}
#output{
text-align: right;
height: 60px;
margin: 10px 20px;
font-size: 24px;
color: white;
}
#keyboard{
    height: 400px;
}
.operator, .number, .empty{
    width: 74px;
    height: 74px;
    margin: 3px;
    float: left;
    border-radius: 3%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: grey;
}
.number, .empty{
    background-color: #333333;
}
.number:hover{
    border: solid 1px #39ff14;
    transition: 0.3s;
    color: #39ff14;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
    box-shadow: inset  1px 1px 76px 12px rgba(0,0,0,0.65);
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color: #26ff00be;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #26ff00be;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #26ff00be;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #26ff00be;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #26ff00be;
}
.task{
    text-align: center;
    border: solid 1px #26ff00be;
    padding: 10px 0px;
    color: white;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}